@media (min-width: 1457px) {
    .home {
        margin-left: 20%;
    }
}
@keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }